/* .statistical {
  margin: 0 auto;
  width: 90%;
  margin-top: 2rem;
}

.statistical .title-statistical {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border-bottom: 4px solid;
  width: 10%;
  text-align: center;
  margin-bottom: 1rem;
}

.title-statistical p {
  margin: 0;
}

.statistical .sub-statistical {
  margin: 0 auto;
  width: 90%;
}

.sub-statistical .header-statistical .sub-header span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  color: #000000;
}
.header-statistical .sub-header select {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  top: 322px;
  background: #fffefe;
  border: 2px solid #e1dede;
  border-radius: 15px;
  margin-top: 1rem;
}

.header-statistical .sub-header button {
  float: right;
  margin-top: 1rem;
  background: #4499fd;
  color: #ffffff;
  width: 100%;
}

.sub-header button svg {
  color: #ffffff;
}

.statistical .table-list-statistical {
  margin-top: 1rem;
}
 */
