a {
  text-decoration: none;
}
.card {
  background: white;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 1rem;
  /* width: 220px; */
  /* height: 250px; */
}

.card .sub-card:hover {
  background: #c3c4c4;
  border-radius: 1rem;
}

.card .sub-card p {
  font-weight: 800;
  font-family: Popin;
  font-size: 25px;
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
}

.card .sub-card {
  padding: 1.5rem;
  /* height: 250px; */
}

.sub-card .card-body svg {
  /* font-size: 200px; */
  color: #20e2ff;
}

.sub-card .card-body img {
  /* width: 100%; */
}
