/* header {
  background: white !important;
  color: black !important;
}
.title-navbar {
  background: #20e2ff;
  line-height: 64px !important;
  padding: 0 2rem;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
}

#search-navbar {
  background: oldlace;
  color: black;
  border-radius: 2rem;
  width: 20%;
  margin-left: 5rem;
} */

.css-ancrnh-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: white !important;
}
